{
  "presets": [
    "node8"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "web": "./src/server/web/",
          "domain": "./src/server/domain/",
          "utilities": "./src/server/utilities/"
        }
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
