@import "@grudge/styles";

.turnCountdownBanner {
  flex: 0 0 auto;
  width: 100%;
  height: $spacer-1;
  background-color: fade($primary-300, 75);
}

.turnCountdown {
  height: 100%;
}

.turnProgress {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: fade($primary-200, 75);
}

.endTurnButton {
  position: absolute;
  top: $spacer-1;
  right: 0;
  z-index: 1;
}
