{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "import/no-unresolved": "off",
        "react/jsx-tag-spacing": [1, {
            "beforeSelfClosing": "never",
            "closingSlash": "never"
        }],
        "react/jsx-filename-extension": "off",
        "react/destructuring-assignment": "off",
        "react/react-in-jsx-scope": "off",
        "react/prefer-stateless-function": "off",
        "react/prop-types": [1, {
            "ignore": [
                "children"
            ]
        }]
    }
}
