{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "node": true
    },
    "settings": {
        "import/resolver": "babel-module"
    },
    "rules": {
        "arrow-parens": ["error", "always"],
        "function-paren-newline": ["error", "consistent"],
        "arrow-body-style": "off",
        "no-plusplus": "off",
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": true
        }]
    }
}
