{
  "extends": "stylelint-config-primer",
  "rules": {
    "at-rule-empty-line-before": null,
    "plugin/no-unsupported-browser-features": null
  },
  "ignoreFiles": [
    "**/*.js",
    "node_modules"
  ]
}
