@import "@grudge/styles";

@mixin cardhighlight($color, $percentage) {
  box-shadow: 0 0 2px 2px rgba($color, $percentage);
}

@keyframes blinkEnemy {
  0% {
    @include cardhighlight($attack, 0.25);
  }

  100% {
    @include cardhighlight($attack, 0.75);
  }
}

@keyframes blinkOpen {
  0% {
    @include cardhighlight(rgb(42, 160, 216), 0.25);
  }

  100% {
    @include cardhighlight(rgb(42, 160, 216), 0.75);
  }
}

.slot {
  margin: 8px;
  background-color: fade($white, 2);
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;

  &.none {
    box-shadow: 0 0 0 2px fade($black, 8);
  }

  &.enemy {
    animation-name: blinkEnemy;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &.open {
    animation-name: blinkOpen;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
