@import "@grudge/styles";

@mixin cardhighlight($color, $percentage) {
  box-shadow: 0 0 2px 2px rgba($color, $percentage);
}

@keyframes blinkAttack {
  0% {
    @include cardhighlight(#e95757, 0.75);
  }

  100% {
    @include cardhighlight(#e95757, 0.25);
  }
}

@keyframes blinkHeal {
  0% {
    @include cardhighlight(#0ee260, 0.75);
  }

  100% {
    @include cardhighlight(#0ee260, 0.25);
  }
}

@keyframes blinkOpen {
  0% {
    @include cardhighlight(#2aa0d8, 0.75);
  }

  100% {
    @include cardhighlight(#2aa0d8, 0.25);
  }
}

.slot {
  margin: 4px;
  background-color: fade($white, 2);
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;

  @include breakpoint(sm) {
    margin: 5px;
  }

  @include breakpoint(md) {
    margin: 8px;
  }

  &.none {
    box-shadow: 0 0 0 2px fade($black, 8);
  }

  &.attack {
    animation-name: blinkAttack;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &.heal {
    animation-name: blinkHeal;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  &.open {
    animation-name: blinkOpen;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
