@import "@grudge/styles";

@mixin cardhighlight($color, $percentage) {
  box-shadow: 0 0 2px 2px rgba($color, $percentage);
}

@keyframes blinkAttack {
  0% {
    @include cardhighlight($attack, 0.25);
  }

  100% {
    @include cardhighlight($attack, 0.75);
  }
}

.lobbyUserViewer {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 50%;
  height: 50%;
  overflow: hidden;
}

.userName {
  @include buttonReset();

  padding: $spacer-1;
  margin: $spacer-1;

  &.attack {
    animation-name: blinkAttack;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
