@import "@grudge/styles";

.loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loadingText {
  margin: 8px;
  font-weight: $font-weight-bold;
  color: $black-fade-75;
  opacity: 0.5;
}

.loadingIndicator {
  $animation-speed: 0.5s;
  $dot-size: 12px;
  $size: 32px;

  position: relative;
  display: block;
  width: $size;
  height: $size;
  opacity: 0.5;

  animation: flip $animation-speed infinite ease-out;

  &::before,
  &::after {
    position: absolute;

    top: ($size / 2) - ($dot-size / 2);

    width: $dot-size;
    height: $dot-size;

    content: "";

    background-color: $black-fade-75;
    border-radius: 100%;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

@keyframes flip {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(180deg);
  }
}
