// stylelint-disable selector-max-type
@import "typography";

* {
  box-sizing: border-box;
}

html {
  font-size: $body-font-size;
}

body {
  margin: 0;
  font-family: $body-font;
  line-height: $body-line-height;
  color: #222;
}

audio,
video {
  display: inline-block;
}
