@import 'typography';

* {
  box-sizing: border-box;
}

html {
  font-size: $body-font-size;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $body-font;
  line-height: $body-line-height;
  color: #222;
}

audio,
video {
  display: inline-block;
}
