@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function fade($color, $percentage) {
  @return rgba($color, $percentage / 100);
}

$white: #fff;
$black: #1c1e20;
$gray: #6a737d;
$red: #dd1e38;
$green: #1b9759;
$blue: #2c88d4;
$yellow: #e9ec26;
$purple: #8a10d1;
$primary: #ff6347;

$black-fade-15: fade($black, 15);
$black-fade-30: fade($black, 30);
$black-fade-50: fade($black, 50);
$black-fade-75: fade($black, 75);
$black-fade-85: fade($black, 85);

$white-fade-15: fade($white, 15);
$white-fade-30: fade($white, 30);
$white-fade-50: fade($white, 50);
$white-fade-75: fade($white, 75);
$white-fade-85: fade($white, 85);

$primary-000: tint($primary, 80);
$primary-100: tint($primary, 50);
$primary-200: tint($primary, 30);
$primary-300: tint($primary, 15);
$primary-400: tint($primary, 10);
$primary-500: $primary;
$primary-600: shade($primary, 10);
$primary-700: shade($primary, 15);
$primary-800: shade($primary, 30);
$primary-900: shade($primary, 50);

$red-000: tint($red, 80);
$red-100: tint($red, 50);
$red-200: tint($red, 30);
$red-300: tint($red, 15);
$red-400: tint($red, 10);
$red-500: $red;
$red-600: shade($red, 10);
$red-700: shade($red, 15);
$red-800: shade($red, 30);
$red-900: shade($red, 50);

$green-000: tint($green, 80);
$green-100: tint($green, 50);
$green-200: tint($green, 30);
$green-300: tint($green, 15);
$green-400: tint($green, 10);
$green-500: $green;
$green-600: shade($green, 10);
$green-700: shade($green, 15);
$green-800: shade($green, 30);
$green-900: shade($green, 50);

$blue-000: tint($blue, 80);
$blue-100: tint($blue, 50);
$blue-200: tint($blue, 30);
$blue-300: tint($blue, 15);
$blue-400: tint($blue, 10);
$blue-500: $blue;
$blue-600: shade($blue, 10);
$blue-700: shade($blue, 15);
$blue-800: shade($blue, 30);
$blue-900: shade($blue, 50);

$yellow-000: tint($yellow, 80);
$yellow-100: tint($yellow, 50);
$yellow-200: tint($yellow, 30);
$yellow-300: tint($yellow, 15);
$yellow-400: tint($yellow, 10);
$yellow-500: $yellow;
$yellow-600: shade($yellow, 10);
$yellow-700: shade($yellow, 15);
$yellow-800: shade($yellow, 30);
$yellow-900: shade($yellow, 50);

$purple-000: tint($purple, 80);
$purple-100: tint($purple, 50);
$purple-200: tint($purple, 30);
$purple-300: tint($purple, 15);
$purple-400: tint($purple, 10);
$purple-500: $purple;
$purple-600: shade($purple, 10);
$purple-700: shade($purple, 15);
$purple-800: shade($purple, 30);
$purple-900: shade($purple, 50);

$gray-000: tint($gray, 80);
$gray-100: tint($gray, 70);
$gray-200: tint($gray, 30);
$gray-300: tint($gray, 15);
$gray-400: tint($gray, 10);
$gray-500: $gray;
$gray-600: shade($gray, 10);
$gray-700: shade($gray, 15);
$gray-800: shade($gray, 30);
$gray-900: shade($gray, 50);
