@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$white: #fff;
$black: #1c1e20;
$gray: #6a737d;
$primary: #ff6347;

$primary-000: tint($primary, 80);
$primary-100: tint($primary, 50);
$primary-200: tint($primary, 30);
$primary-300: tint($primary, 15);
$primary-400: tint($primary, 10);
$primary-500: $primary;
$primary-600: shade($primary, 10);
$primary-700: shade($primary, 15);
$primary-800: shade($primary, 30);
$primary-900: shade($primary, 50);

$gray-000: tint($gray, 80);
$gray-100: tint($gray, 50);
$gray-200: tint($gray, 30);
$gray-300: tint($gray, 15);
$gray-400: tint($gray, 10);
$gray-500: $gray;
$gray-600: shade($gray, 10);
$gray-700: shade($gray, 15);
$gray-800: shade($gray, 30);
$gray-900: shade($gray, 50);
