@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$primary: #ff6347;

$primary-100: shade($primary, 50);
$primary-200: shade($primary, 40);
$primary-300: shade($primary, 20);
$primary-400: shade($primary, 10);
$primary-500: $primary;
$primary-600: tint($primary, 10);
$primary-700: tint($primary, 20);
$primary-800: tint($primary, 40);
$primary-900: tint($primary, 50);
