@import 'layout';

.container {
  position: relative;
  width: 980px;
  margin-left: auto;
  margin-right: auto;

  @include clearfix;

  &.sm {
    max-width: $width-sm;
  }

  &.md {
    max-width: $width-md;
  }

  &.lg {
    max-width: $width-lg;
  }

  &.xl {
    max-width: $width-xl;
  }

  &.responsive {
    width: 100%;

    @include breakpoint(sm) {
      width: $width-sm;
    }

    @include breakpoint(md) {
      width: $width-md;
    }

    @include breakpoint(lg) {
      width: $width-lg;
    }

    @include breakpoint(xl) {
      width: $width-xl;
    }
  }
}
