@import "@grudge/styles";

$card-radius: 4px;

.cardStatic {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $card-radius;
}

.cardTitle {
  position: relative;
  padding: 3px 0;
  margin: $spacer-4 0;
  font-size: 0.9em;
  color: #d6d6d6;
  text-align: center;
}

.content {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  overflow: hidden;
  background-color: #4b5661;
  border-radius: $card-radius;
  box-shadow:
    0 0 6px 4px rgba(41, 42, 43, 0.74) inset,
    0 0 14px 5px rgba(37, 53, 68, 0.74) inset;
}

.overlay {
  @include fill;
  border-radius: $card-radius;
  transition:
    background-color 0.1s ease-in-out,
    box-shadow 0.25s ease-in-out;

  &.isDisabled {
    background-color: $black-fade-50;
  }

  &.isSelected {
    box-shadow: 0 0 3px 1px rgba(0, 243, 255, 0.67);
  }

  &.isTargeted {
    box-shadow: 0 0 3px 1px $attack;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $card-radius;
  opacity: 0.35;
}

.cardBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cost {
  position: absolute;
  right: $spacer-2;
  bottom: $spacer-2;
  font-size: 1.2em;
  font-weight: $font-weight-bold;
  color: $white;
}

.health {
  position: absolute;
  top: -7px;
  right: -7px;
  display: flex;
  width: 24px;
  height: 24px;
  font-size: 1em;
  font-weight: $font-weight-bold;
  color: $white;
  color: shade($health, 70);
  background-color: $health;
  border: 3px solid shade($health, 20);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.value {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  font-size: 1.4em;
  font-weight: $font-weight-bold;
  color: shade($money, 40);
  background-color: $money;
  border: 4px solid shade($money, 20);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.attack {
  position: absolute;
  top: -7px;
  left: -7px;
  display: flex;
  width: 24px;
  height: 24px;
  font-size: 1em;
  font-weight: $font-weight-bold;
  color: shade($attack, 70);
  background-color: $attack;
  border: 3px solid shade($attack, 20);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.points {
  position: absolute;
  bottom: 1px;
  left: 1px;
  display: flex;
  width: 16px;
  height: 16px;
  font-size: 0.7em;
  font-weight: $font-weight-bold;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
