@import "@grudge/styles";

$card-radius: 4px;

.cardStatic {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: $card-radius;
}

.cardTitle {
  position: absolute;
  bottom: -3px;
  width: 100%;
  font-size: 0.7em;
  color: #2c2b2b;
  text-align: center;
}

.bannerImage {
  position: absolute;
  bottom: -5px;
  left: 7%;
  width: 86%;
}

.cost {
  position: absolute;
  top: -8px;
  right: -8px;

  &Image {
    width: 34px;
  }

  &Value {
    position: absolute;
    top: -3px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 800;
    color: shade($money, 55);
  }
}

.content {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  overflow: hidden;
  background-color: #4b5661;
  border-radius: $card-radius;
  box-shadow:
    0 0 6px 4px rgba(41, 42, 43, 0.74) inset,
    0 0 14px 5px rgba(37, 53, 68, 0.74) inset;
}

.overlay {
  @include fill;
  border-radius: $card-radius;
  transition:
    background-color 0.1s ease-in-out,
    box-shadow 0.25s ease-in-out;

  &.isDisabled {
    background-color: $black-fade-50;
  }

  &.isSelected {
    box-shadow: 0 0 3px 1px rgba(0, 243, 255, 0.67);
  }

  &.isTargeted {
    box-shadow: 0 0 3px 1px $attack;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $card-radius;
  opacity: 0.6;
}

.cardBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.attributes > * {
  position: absolute;
  left: -12px;
  width: 38px;
  height: 38px;
}

.attack {
  top: 5px;
  color: shade($attack, 40);

  &Image {
    position: absolute;
    top: 0;
    left: 2px;
    width: 42px;
  }
}

.money {
  top: 48px;
  color: shade($money, 50);

  &Image {
    position: absolute;
    top: -6px;
    left: 2px;
    width: 34px;
  }
}

.health {
  top: 88px;
  color: shade($health, 40);

  &Image {
    position: absolute;
    top: 0;
    left: 3px;
    width: 32px;
  }
}

.attributeValue {
  position: absolute;
  top: 5px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: 800;
}

