@import "@grudge/styles";

.cardStatic {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $primary-200;
  border: 2px solid $primary-700;
  border-radius: 6px;

  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  &.isDisabled {
    border-color: $gray;
  }

  &.isSelected {
    border-color: $blue;
  }

  &.isTargeted {
    border-color: $red;
  }
}

.cardTitle {
  padding: 3px 0;
  font-size: 0.6em;
  color: $primary-000;
  text-align: center;
  background-color: $black-fade-75;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.attributes {
  display: flex;
  flex-direction: column;

  > * {
    display: inline-flex;
    width: 24px;
    height: 24px;
    margin: $spacer-1 0 0 $spacer-1;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: $font-weight-bold;
    color: $white;
    border: 2px solid $black-fade-15;
    border-radius: 100%;
  }
}

.cost {
  position: absolute;
  right: $spacer-1;
  bottom: $spacer-1;
  font-size: 1.2em;
  font-weight: $font-weight-bold;
  color: $white;
}

.value {
  background-color: #fdb706;
}

.attack {
  background-color: #9c2727;
}

.defense {
  background-color: #657a8f;
}

.points {
  position: absolute;
  top: 1px;
  right: 1px;
  display: flex;
  width: 16px;
  height: 16px;
  font-size: 0.7em;
  font-weight: $font-weight-bold;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
