@import "@grudge/styles";

.cardContainer {
  position: relative;
  display: inline-block;
  user-select: none;

  > svg { /* stylelint-disable-line selector-max-type */
    width: auto;
    height: 100%;
    visibility: hidden;
  }
}

.clickable {
  @include fill;
  cursor: pointer;
}

.cardContainerContent {
  @include fill;
  pointer-events: none;
}

.inspector {
  @include fill;

  transition: background-color 250ms ease-in-out;

  &.inspecting {
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 36, 36, 0.75);

    .inspectorContent {
      position: relative;
      width: 300px;
      height: 420px;
    }
  }
}
