@import "typography";
@import "layout";
@import "colors";

.pageHeader {
  padding: $spacer-3 0;
  flex: none;
  color: #fff;
  background-color: $primary-500;
  border-bottom: 1px solid $primary-400;
}

.branding {
  @include h3();
  line-height: 1em;
  text-shadow: 1px 1px 1px $primary-400;
}
