.arena {
  display: flex;
  flex: 1 1 100%;
  height: 100%;
}

.cardList {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;

  &.top {
    align-self: flex-start;
  }

  &.bottom {
    align-self: flex-end;
  }
}
