@import "typography";
@import "layout";
@import "colors";

.button {
  display: inline-block;
  padding: $spacer-1 $spacer-2;
  font-family: $body-font;
  font-size: $body-font-size;
  font-weight: $font-weight-bold;
  line-height: $body-line-height;

  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 3px;

  appearance: none;

  &.block {
    display: block;
    width: 100%;
    text-align: center;
  }

  &.disabled {
    cursor: default;
    box-shadow: none;
  }

  &.default {
    color: $gray-900;
    background-color: #fbfdff;
    background-image: linear-gradient(0deg, $gray-000 0%, #fbfdff 90%);
    border-color: $gray-100;

    &:hover:not(.disabled) {
      background-color: #f0f1f3;
      background-image: linear-gradient(0deg, $gray-000 0%, #f3f5f7 90%);
    }

    &.disabled {
      color: $black-fade-85;
      background-color: #fbfdff;
      background-image: none;
      border-color: $gray-100;
    }
  }

  &.primary {
    color: $white;
    background-color: $primary;
    background-image: linear-gradient(180deg, $primary-200 0%, $primary 90%);
    border-color: $primary-300;

    &:hover:not(.disabled) {
      background-color: $primary-600;
      background-image: linear-gradient(180deg, $primary-200 0%, $primary-600 90%);
    }

    &.disabled {
      color: $white-fade-85;
      background-color: $primary-100;
      background-image: none;
      border-color: $primary-200;
    }
  }

  &.red {
    color: $white;
    background-color: $red;
    background-image: linear-gradient(180deg, $red-200 0%, $red 90%);
    border-color: $red-300;

    &:hover:not(.disabled) {
      background-color: $red-600;
      background-image: linear-gradient(180deg, $red-200 0%, $red-600 90%);
    }

    &.disabled {
      color: $white-fade-85;
      background-color: $red-100;
      background-image: none;
      border-color: $red-200;
    }
  }

  &.green {
    color: $white;
    background-color: $green;
    background-image: linear-gradient(180deg, $green-200 0%, $green 90%);
    border-color: $green-300;

    &:hover:not(.disabled) {
      background-color: $green-600;
      background-image: linear-gradient(180deg, $green-200 0%, $green-600 90%);
    }

    &.disabled {
      color: $white-fade-85;
      background-color: $green-100;
      background-image: none;
      border-color: $green-200;
    }
  }

  &.blue {
    color: $white;
    background-color: $blue;
    background-image: linear-gradient(180deg, $blue-200 0%, $blue 90%);
    border-color: $blue-300;

    &:hover:not(.disabled) {
      background-color: $blue-600;
      background-image: linear-gradient(180deg, $blue-200 0%, $blue-600 90%);
    }

    &.disabled {
      color: $white-fade-85;
      background-color: $blue-100;
      background-image: none;
      border-color: $blue-200;
    }
  }

  &.purple {
    color: $white;
    background-color: $purple;
    background-image: linear-gradient(180deg, $purple-200 0%, $purple 90%);
    border-color: $purple-300;

    &:hover:not(.disabled) {
      background-color: $purple-600;
      background-image: linear-gradient(180deg, $purple-200 0%, $purple-600 90%);
    }

    &.disabled {
      color: $white-fade-85;
      background-color: $purple-100;
      background-image: none;
      border-color: $purple-200;
    }
  }
}
