@import "@grudge/styles";

.lobbyTimelineBanner {
  position: absolute;
  flex: 0 0 auto;
  bottom: calc(50% - $spacer / 2);
  width: 100%;
  height: $spacer-1;
  background-color: fade($primary-300, 75);
}

.lobbyTimeline {
  height: 100%;
}

.turnProgress {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: fade($primary-200, 75);
}

.endTurnButton {
  position: absolute;
  top: $spacer-1;
  right: 0;
  z-index: 1;
}
