@import "@grudge/styles";

.lobbyTimelineBanner {
  position: relative;
  flex: 0 0 auto;
  height: $spacer-1;
  background-color: $primary-300;
}

.lobbyTimeline {
  height: 100%;
}

.turnProgress {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $red-300;
}

.endTurnButton {
  position: absolute;
  top: $spacer-1;
  right: 0;
  z-index: 1;
}
