@import "@grudge/styles";

.pageSuperHeaderBanner {
  font-size: 0.9em;
  color: $white;
  background-color: $primary-800;
}

.spacer {
  flex: 1;
}

.pageSuperHeader {
  display: flex;
  height: $spacer-4;
  justify-content: space-between;
  align-items: center;
  color: $white;
}

.branding {
  font-weight: $font-weight-bold;
  line-height: 1em;
  color: $white;
  text-decoration: none;
  text-shadow: 1px 1px 1px $primary-400;
}

.menuButton {
  @include buttonReset();
  padding: 0 $spacer;
  font-weight: $font-weight-bold;
  line-height: 1em;
  color: $white;
  text-decoration: none;
  text-shadow: 1px 1px 1px $primary-400;
}
