@import "@grudge/styles";

.hand {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  justify-content: flex-end;
}

.handCard {
  margin: $spacer-1;

  @include breakpoint(sm) {
    margin: $spacer-2;
  }
}
