@import "@grudge/styles";

.status {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100%;

  &.connected {
    background-color: $green;
    border-color: $green-700;
  }

  &.connecting {
    background-color: $yellow;
    border-color: $yellow-700;
  }

  &.disconnected {
    background-color: $red;
    border-color: $red-700;
  }
}
